<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ch.uzh">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name="ch.uzh.GlobalState">
        <activity
                android:name="ch.uzh.LoginActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:label="@string/app_name"
                android:name="ch.uzh.MainActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:label="@string/app_name"
                android:name="ch.uzh.MsgActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:label="@string/app_name"
                android:name="ch.uzh.AddActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>